{% extends 'Crime/base.html' %}
{% block content %}
<html>
<head>
    <title>accurate coordinates search</title>
</head>
    <body>
        <h1>Accurate coordinates search</h1>
        <form action = "/coordinates_search/" method = "post">
            {% csrf_token %}
            <p>Enter the coordinates:</p>
            <p>
                longitude: <input type = "float" name = "longitude" placeholder="Between -122.5 to -122.3" >
                latitude: <input type = "float" name = "latitude" placeholder="Between 37.7 to 37.8">
                <input type = "submit" value = "Search" >
            </p>
            <p>*More digit of floating number as input leads to more accurate result, and vice versa.</p>
        </form> 

        <h1>Result:</h1>
        <table border="1" style="text-align:center" width='60%'>
        <tr><th>ID</th><th>PdDistrict </th><th>Address</th><th>Date</th><th>Longitude</th><th>Latitude</th></tr>
        {% for row in position_search_rows %}
        <tr>
            <td>{{row.id}}</td>
            <td>{{row.district}}</td>
            <td>{{row.address}}</td>
            <td>{{row.date}}</td>
            <td><b>{{row.longitude}}</b></td>
            <td><b>{{row.latitude}}</b></td>
        </tr>
        {% endfor %}
        </table>
        
    </body>
</html>
{% endblock %}