{% extends 'Crime/base.html' %}
{% block content %}
<html>
<head>
    <title>data edit</title>
</head>
    <body>
        <h1>User Data Edit</h1>
        <p>*First, search a row of data you want. Then, you could edit the data (add, modify or delete).</p>

        <h2>Search:</h2>
        <form action = "/data_edit/" method = "post">
            {% csrf_token %}
            <p>Enter a id number:
            <input type = "integer" name = "id1" placeholder="Between 1 to 20035" >
            <input type = "submit" value = "Search" >  
            </p>  
        </form> 

        <h2>Result:</h2>
        <table border="1" width='75%'>
        <tr><th>ID</th><th>Date</th><th>Day of Week</th><th>PdDistrict </th><th>Address</th><th>Longitude</th><th>Latitude</th></tr>
        {% if row_date %}
        <tr>
            <td>{{row_date.id}}</td>
            <td>{{row_date.date}}</td>
            <td>{{row_date.weekday}}</td>
            <td>{{row_position.district}}</td>
            <td>{{row_position.address}}</td>
            <td>{{row_position.longitude}}</td>
            <td>{{row_position.latitude}}</td>
        </tr>
        </table>
        {% else %}
        </tr>
        </table>
        No data matches, maybe change another id number?
        {% endif %}


        <h2>Delete:</h2>
        <form action = "/data_edit/" method = "post">
            {% csrf_token %}
            <p>Enter a id number then this row will be deleted:
            <input type = "integer" name = "id2" placeholder="Delete this row" >
            <input type = "submit" value = "Delete" >
            </p>
        </form> 

        <h2>Edit:</h2>
        <form action = "/data_edit/" method = "post">
            {% csrf_token %}
            <p>Enter a row of data:</p>
            <p>
                ID (Required): <input type = "integer" name = "Id" placeholder="Integer number only" >
                Date: <input type = "text" name = "Date" placeholder="xx.xx.xxxx like 01.01.2022" >
                Day of Week: <input type = "text" name = "DayOfWeek" placeholder="Sunday to Monday" >
                PdDistrict: <input type = "text" name = "PdDistrict" placeholder="Text only" >
            </p>
            <p>
                Address: <input type = "text" name = "Address" placeholder="Text only" >
                Longitude: <input type = "float" name = "Longitude" placeholder="Number only" >
                Latitude: <input type = "float" name = "Latitude" placeholder="Number only" >
                <input type = "submit" value = "submit" >
            </p>
            <p>*Only ID number is neccessary.</p>
            <p>*If you enter a outindex ID number, the system will create the row.</p>
            <p>*If you keep some frames empty, then the values will not change.</p>
        </form> 
    </body>
</html>

{% endblock %}