<html>
    <head><title>date search</title></head>
    <body>
        <h1>Date search</h1>
            <p><b>January:</b></p>
            {% for d in date_1 %}
            <b><a href= "{% url 'Crime:date_result' date=d %}">{{d}}</a></b> | 
            {% endfor %}

            <p><b>February:</b></p>
            {% for d in date_2 %}
            <b><a href="{% url 'Crime:date_result' date=d %}">{{d}}</a></b> | 
            {% endfor %}

            <p><b>March:</b></p>
            {% for d in date_3 %}
            <b><a href="{% url 'Crime:date_result' date=d %}">{{d}}</a></b> | 
            {% endfor %}
    </body>
</html>