{% extends 'Crime/base.html' %}
{% block content %}
<html>
    <head><title>date search</title></head>
    <body>
        <h1>Date search</h1>
            <p>
                <b><a href="{% url 'Crime:position_result' position='BAYVIEW' %}">BAYVIEW</a></b> |
                <b><a href="{% url 'Crime:position_result' position='CENTRAL' %}">CENTRAL</a></b> |
                <b><a href="{% url 'Crime:position_result' position='INGLESIDE' %}">INGLESIDE</a></b> |
                <b><a href="{% url 'Crime:position_result' position='MISSION' %}">MISSION</a></b> |
                <b><a href="{% url 'Crime:position_result' position='NORTHERN' %}">NORTHERN</a></b> |
                <b><a href="{% url 'Crime:position_result' position='PARK' %}">PARK</a></b> |
                <b><a href="{% url 'Crime:position_result' position='RICHMOND' %}">RICHMOND</a></b> |
                <b><a href="{% url 'Crime:position_result' position='SOUTHERN' %}">SOUTHERN</a></b> |
                <b><a href="{% url 'Crime:position_result' position='TARAVAL' %}">TARAVAL</a></b> |
                <b><a href="{% url 'Crime:position_result' position='TENDERLOIN' %}">TENDERLOIN</a></b> |
            </p>  
    </body>
</html>
{% endblock %}