{% extends 'Crime/base.html' %}
{% block content %}
<html>
    <head><title>total data</title></head>
    <body>
        <h1>Date Details</h1>
            <p>ID | Date | Day of Week | PdDistrict | Address </p>
            {% for row in Crime_total_date %}
            <p>
                {{row.id}} |
                <b>{{row.date}}</b> |
                {{row.weekday}} |
                {{row.district}} |
                {{row.address}} |
            </p>
            {% endfor %}

        <h1>position Details</h1>
            <p>ID | PdDistrict | Address | Longitude | Latitude </p>
            {% for row in Crime_total_position %}
            <p>
                {{row.id}} |
                <b>{{row.district}}</b> |
                {{row.address}} |
                {{row.date}} |
                {{row.longitude}} |
                {{row.latitude}} |
            </p>
            {% endfor %}
    </body>
</html>
{% endblock %}